/* Colors setup */
* {
    --custom-logo: url(https://dom1torii.github.io/discord16/src/assets/steam-logo.svg) !important;

    --font-primary: var(--font), sans-serif !important;

    --app-background-frame: var(--custom-bg) !important;
    --background-primary: var(--custom-bg) !important;
    --background-modifier-selected: var(--custom-secondary-accent) !important;
    --background-tertiary: var(--custom-bg) !important;
    --background-accent: var(--custom-bg) !important;
    --bg-base-tertiary: var(--custom-bg) !important;
    --custom-channel-members-bg: var(--custom-bg) !important;
    --background-base-low: var(--custom-bg) !important;
    --background-base-lower: var(--custom-bg) !important;
    --background-base-lowest: var(--custom-bg) !important;
    --bg-overlay-chat: var(--custom-bg) !important;
    --custom-app-top-bar-height: 35px !important;
    --scrollbar-auto-thumb: var(--custom-bg) !important;
    --scrollbar-thin-thumb: var(--custom-bg) !important;
    --background-mod-subtle: var(--custom-bg) !important;
    --background-mod-normal: var(--custom-secondary-accent) !important;
    --background-surface-high: var(--custom-bg) !important;
    --background-surface-higher: var(--custom-bg) !important;
    --background-surface-highest: var(--custom-bg) !important;
    --background-floating: var(--custom-bg) !important;
    --bg-surface-overlay: var(--custom-bg) !important;
    --bg-surface-overlay-tmp: var(--custom-bg) !important;
    --bg-surface-raised: var(--custom-bg) !important;
    --background-secondary-alt: var(--custom-bg) !important;
    --background-secondary: var(--custom-bg) !important;
    --background-floating: var(--custom-bg) !important;
    --bg-mod-subtle: var(--custom-bg) !important;
    --card-primary-bg: var(--custom-bg) !important;
    --modal-background: var(--custom-bg) !important;
    --modal-footer-background: var(--custom-bg) !important;
    --interactive-muted: grey !important;
    --button-secondary-background: var(--custom-bg) !important;
    --autocomplete-bg: var(--custom-bg) !important;
    --status-danger: var(--custom-secondary-accent) !important;

    --background-message-hover: var(--custom-secondary-bg) !important;

    --checkbox-background-default: var(--custom-secondary-bg) !important;

    --primary-800: var(--custom-bg) !important;

    --input-background: var(--custom-secondary-bg) !important;

    --shadow-high: 0 12px 24px 0 var(--custom-bg) !important;

    --text-normal: var(--custom-text) !important;
    --text-primary: var(--custom-text) !important;
    --text-tertiary: var(--custom-secondary-text) !important;
    --text-muted: var(--custom-secondary-text) !important;
    --chat-text-muted: var(--custom-secondary-text) !important;
    --channels-default: var(--custom-secondary-text) !important;
    --header-secondary: var(--custom-secondary-text) !important;
    --header-primary: var(--custom-text) !important;

    --interactive-normal: var(--custom-secondary-text) !important;
    --interactive-hover: var(--custom-text) !important;

    --icon-primary: var(--custom-text) !important;
    --icon-secondary: var(--custom-secondary-text) !important;
    --icon-tertiary: var(--custom-secondary-text) !important;
    --channel-icon: var(--custom-secondary-text) !important;


    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: none;
    font-smooth: never;
}

@font-face {
    font-family: "ArialPixel";
    src: url(https://raw.githubusercontent.com/dom1torii/discord16/refs/heads/main/src/assets/ArialPixel.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@property --rounded-avatars {
    syntax: "true | false";
    initial-value: false;
    name: "Rounded Avatars";
    note: "Enables rounded avatars";
}

@property --steam-logo {
    syntax: "true | false";
    initial-value: true;
    name: "Steam Logo";
    note: "Enables steam logo instead of discord logo";
}




* {
    border-radius: 0 !important;
}

.visual-refresh .c8ffbb79449f399c-container, .visual-refresh .f37cb1984c371ee5-header, .visual-refresh ._9293f6b2fc12398a-container, ._5e434347c823b592-sidebarList {
    border: none !important;
    
}

.a36dee84341ac9f5-tierIconLocked {
    color: grey;
}

.bf202d63ad53e289-selected {
    background-color: var(--custom-secondary-accent) !important;
}

:where(.visual-refresh) ._972a0d22c8afa7f0-interactive:hover {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

:where(.visual-refresh) ._972a0d22c8afa7f0-interactive.bf202d63ad53e289-selected:hover {
    background-color: var(--custom-secondary-accent) !important;
}


.visual-refresh .f37cb1984c371ee5-container {
    z-index: 10 !important;
}


/* remove server header hover blur and border */
:where(.visual-refresh) .f37cb1984c371ee5-bannerVisible .f37cb1984c371ee5-headerEllipseBackdrop,
:where(.visual-refresh) .f37cb1984c371ee5-bannerVisible .f37cb1984c371ee5-headerGlass {
    backdrop-filter: none !important;
    border: none !important;
}

.c8ffbb79449f399c-member {
    background-color: transparent !important;
}

.c38106a3f0c3ca76-title {
    justify-content: start;
}

.visual-refresh .title__85643 {
    margin: 0px 5px 0px 5px;
}

.visual-refresh .f75fb00fb7356cbe-chatContent,
.visual-refresh .f37cb1984c371ee5-container,
.visual-refresh ._9293f6b2fc12398a-container,
.visual-refresh ._35a7ecf3aba351b2-channelHeader,
.visual-refresh ._1ccd1ba5cb2270c2-messages,
.visual-refresh ._99e7cad8d4c55236-scroller,
._918165dab2b1e10b-listItemWrapper,
.c8ffbb79449f399c-members,
.visual-refresh ._629e4c86564a4ee7-scroller,
.visual-refresh ._5e434347c823b592-content {
    margin: 5px;
}

.visual-refresh .f75fb00fb7356cbe-channelTextArea {
    background-color: var(--custom-secondary-bg) !important;
}

.public-DraftEditorPlaceholder-hasFocus,
input:focus::placeholder {
    color: var(--custom-accent) !important;
}


:where(.visual-refresh) ._740174f3d6a2c8fe-themedBackground,
.visual-refresh ._974928fe84ca9647-searchBar,
.visual-refresh ._629e4c86564a4ee7-scroller,
.c8ffbb79449f399c-members,
.visual-refresh ._99e7cad8d4c55236-scroller,
textarea,
div:not([class="_201d5e8a3c09670a-contents"]):not([class="a16aea1526925c2c-value"]):not([class="a16aea1526925c2c-value a16aea1526925c2c-multi"]):has(> input),
.checkbox_f525d3 {
    background-color: var(--custom-secondary-bg) !important;
    border: 1px solid !important;
    border-color: var(--dark-border) var(--light-border) var(--light-border) var(--dark-border) !important;
}


._23e6b439306f125a-standardSidebarView {
    background-color: transparent;
}

.emojiWrapper__4cbea {
    margin-left: -35px;
}

.fc7141859aaa98b7-emojiItem[tabindex="0"] {
    background-color: var(--custom-secondary-bg) !important;
}

@container style(--rounded-avatars: false) {
    ._650eb104245d257b-listItem > div:not(div._48112cbe77dc5022-folderHeader) .cc5dd25190031396-wrapper {
        box-shadow: 
            1px 0 0 0 var(--dark-border),
            -1px 0 0 0 var(--light-border),
            0 1px 0 0 var(--dark-border),
            0 -1px 0 0 var(--light-border);
    }

    foreignObject {
        mask: none !important;
    }
}

._48112cbe77dc5022-folderButton[aria-expanded="false"] {
    box-shadow: 
        1px 0 0 0 var(--dark-border),
        -1px 0 0 0 var(--light-border),
        0 1px 0 0 var(--dark-border),
        0 -1px 0 0 var(--light-border);
}



._48112cbe77dc5022-folderButton[aria-expanded="true"] {
    box-shadow: none;
}

._48112cbe77dc5022-folderGroupBackground {
    box-shadow: 
    1px 0 0 0 var(--dark-border),
    -1px 0 0 0 var(--light-border),
    0 1px 0 0 var(--dark-border),
    0 -1px 0 0 var(--light-border);
}






.visual-refresh ._5e434347c823b592-panels,
.visual-refresh .f75fb00fb7356cbe-chatContent,
._918165dab2b1e10b-listItemWrapper,
.visual-refresh ._5e434347c823b592-content,
.visual-refresh .f37cb1984c371ee5-container,
.visual-refresh ._9293f6b2fc12398a-toolbar ._9293f6b2fc12398a-iconWrapper,
.visual-refresh ._85643a485899904b-button,
::-webkit-scrollbar-thumb,
._160d8e55254637e5-app button:not(.clearStatusButton__958c7):not(._0923f156a0410684-attachButton):not(._0f481cbbd7530492-barButtonMain),
:where(.visual-refresh) .c1e9c47c23f12ca3-menu,
._5126c0cd07f243a0-message ._5126c0cd07f243a0-buttonsInner,
._740174f3d6a2c8fe-floatingBars:empty+._740174f3d6a2c8fe-stackedBars:nth-child(2),
.c1e9c47c23f12ca3-customItem,
:where(.visual-refresh) .c36707910f687430-tooltipPrimary,
:where(.visual-refresh) .a16aea1526925c2c-popout:not(.a16aea1526925c2c-popoutPositionTop),
._5cea9da4c2ca012f-card,
._5cea9da4c2ca012f-loadMoreButton,
.visual-refresh .f8c98cc3d7c1bc42-box,
.visual-refresh ._730694f5672c9601-cardPrimary,
.c7f964e7e0fc8b47-metadataContainer,
.visual-refresh ._49fc18ba07c5025f-rootWithShadow,
.ceb06aa49ba836f9-boostContainer,
.visual-refresh .shopCard_c3d04b,
._58f1c3000c2c5b3e-loadingPopout,
.visual-refresh ._084343c4f11eaaab-contentWrapper,
.visual-refresh .e8b59c4b335dd2fc-messageGroupWrapper,
.visual-refresh .jumpButton_e8b59c,
.visual-refresh .e8b59c4b335dd2fc-messagesPopoutWrap,
.visual-refresh .d9c8822889d1d4a1-container,
.visual-refresh ._6764bd76e0340219-container,
.f8fa068db52f043f-actionButton,
._133bf5eea8e33a34-item,
:where(.visual-refresh) .aa8da23faa27393c-top .aa8da23faa27393c-item,
.ab66419eae73260f-controls > div,
.visual-refresh .container__2692d,
._427f0273a157ab7a-channel,
.visual-refresh ._35a7ecf3aba351b2-channelHeader,
.visual-refresh ._1ccd1ba5cb2270c2-messages,
._06eda958b510be67-tertiary,
.visual-refresh ._23977d5b7cef7361-reaction,
.visual-refresh ._23977d5b7cef7361-reactionBtn,
.visual-refresh ._6b0e07cbaf13ec4e-autocompleteAttached,
.c2b141c0f80863fb-closeButton,
.b49891f8a231dbff-reactionTooltip,
._55c999adcf6db265-container,
._7aaec78b97ff00f7-bar,
._0f481cbbd7530492-popoutContainer,
._50a5493e9d9cc496-authedAppV2,
body {
    transition: none !important;
    border: 1px solid !important;
    border-color: var(--light-border) var(--dark-border) var(--dark-border) var(--light-border) !important;
    box-shadow: none !important;
}


._160d8e55254637e5-app button:active,
.visual-refresh ._85643a485899904b-button:active,
.visual-refresh ._9293f6b2fc12398a-toolbar ._9293f6b2fc12398a-iconWrapper:active,
.visual-refresh .f37cb1984c371ee5-container:active,
._918165dab2b1e10b-listItemWrapper:active,
._5cea9da4c2ca012f-loadMoreButton:active,
.c1e9c47c23f12ca3-customItem:active
.f8fa068db52f043f-actionButton:active,
._133bf5eea8e33a34-item:active,
.aa8da23faa27393c-selected,
.a16aea1526925c2c-select,
._88a69141dd70013a-radioIndicator {
    border: 1px solid !important;
    border-color: var(--dark-border) var(--light-border) var(--light-border) var(--dark-border) !important;
    box-shadow: none !important;
}



.cd21008e49ed0c87-container {
    border: none !important;
}

/* hide tooltip pointers */
:where(.visual-refresh) .c36707910f687430-tooltipPointer.c36707910f687430-tooltipPointerBg,
:where(.visual-refresh) .c36707910f687430-tooltipTop .c36707910f687430-tooltipPointer:not(.c36707910f687430-tooltipPointerBg),
:where(.visual-refresh) .c36707910f687430-tooltipRight .c36707910f687430-tooltipPointer:not(.c36707910f687430-tooltipPointerBg) {
    display: none !important;
}

._0923f156a0410684-uploadInput {
    visibility: hidden;
}

.visual-refresh ._6e9f8dce4cc18de3-childWrapperNoHoverBg, .visual-refresh ._133bf5eea8e33a34-tabBar > div:hover, .visual-refresh .aa8da23faa27393c-topPill .aa8da23faa27393c-themed.aa8da23faa27393c-item:hover:not(.aa8da23faa27393c-disabled) {
    background-color: transparent;
    color: white;
}

.ab66419eae73260f-tabBar {
    display: flex;
    align-items: center;
}

:where(.visual-refresh) .aa8da23faa27393c-top .aa8da23faa27393c-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

._9293f6b2fc12398a-children::after {
    background: linear-gradient(90deg, rgba(54, 57, 63, 0) 0, var(--custom-bg)) !important;
}

:where(.visual-refresh) ._2ea32c412048f708-wrapper > div:hover, :where(.visual-refresh) ._2ea32c412048f708-link:active{
    background-color: rgba(0, 0, 0, 0.3) !important;
}





/* some status stuff stolen from https://refact0r.github.io/system24/src/unrounding.css */

@container style(--rounded-avatars: false) {
    /* hide round masks */
    [class^='listItem_'] [class^='wrapper_'] > [class^='svg_'] > mask,
    [class^='bannerSVGWrapper_'] > mask > circle {
        display: none;
    }

    [class^='mask_'] > foreignObject,
    [class^='svg_'] > foreignObject {
        mask-image: none;
    }

    /* fill circle mask on profile avatar */
    ._75742e4cc9019aeb-overlay:after,
    .c0bea05627c5dc35-overlay:after {
        border-radius: 0;
    }
}

@container style(--rounded-avatars: true) {
    /* Status indicator rounding */
    ._44b0c28be7879b7b-wrapper:has(rect)::after {
        border-radius: 50%;
    }

    /* Remove status indicator mask */
    ._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask foreignObject {
        mask-image: none;
        border-radius: 50% !important;
    }

    /* Voice avatar */
    ._55bab3f0b2555838-userAvatar {
        border-radius: 50% !important;
    }

}

/* hide status indicators */
[class^='mask_'] rect,
[class^='mask_'] circle,
[class^='mask_'] svg {
	display: none;
}

/* re-add status indicators */
._44b0c28be7879b7b-wrapper:has(rect)::after {
	content: '';
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
}

g:has(rect[mask='url(#svg-mask-status-online)']),
g:has(rect[mask='url(#svg-mask-status-dnd)']),
g:has(rect[mask='url(#svg-mask-status-idle)']),
g:has(rect[mask='url(#svg-mask-status-offline)']),
g:has(rect[mask='url(#svg-mask-status-streaming)']) {
    display: none;
}

/* Online + Online Mobile */
._44b0c28be7879b7b-wrapper:has(rect[mask='url(#svg-mask-status-online)'])::after,
._44b0c28be7879b7b-wrapper:has(rect[mask='url(#svg-mask-status-online-mobile)'])::after {
	background: transparent !important;
    outline: 2px solid #57CBDE;
}

/* Do not disturb */
._44b0c28be7879b7b-wrapper:has(rect[mask='url(#svg-mask-status-dnd)'])::after {
    background: transparent !important;
    outline: 2px solid #ff4133;
}

/* Idle */
._44b0c28be7879b7b-wrapper:has(rect[mask='url(#svg-mask-status-idle)'])::after {
    background: transparent !important;
    outline: 2px solid #f58b05;
}

/* Offline */
._44b0c28be7879b7b-wrapper:has(rect[mask='url(#svg-mask-status-offline)'])::after {
    background: transparent !important;
    outline: 2px solid #898989;
}

/* Streaming */
._44b0c28be7879b7b-wrapper:has(rect[mask='url(#svg-mask-status-streaming)'])::after {
    background: transparent !important;
    outline: 2px solid #9147ff;
}

._44b0c28be7879b7b-avatarDecoration {
    z-index: 2 !important;
}

._91a9d7f7e5248a56-childContainer:hover {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

._5e434347c823b592-sidebarList {
    margin-bottom: 13px !important;
}

.visual-refresh .ef3116c2da186559-wrapper {
    margin-bottom: 84px !important;
}

.visual-refresh ._5e434347c823b592-panels {
    --custom-panels-spacing: 5px !important;
}

._5e434347c823b592-container {
    --custom-chat-input-margin-bottom: 8px !important
}

._37e49614b9f110a9-container {
    padding: 12px !important;
}

.c38106a3f0c3ca76-bar {
    padding-right: 5px !important;
}

.f37cb1984c371ee5-headerEllipseForeground {
    background: var(--custom-bg) !important;
}

._974928fe84ca9647-searchBar {
    width: 264px !important;
}

.f75fb00fb7356cbe-title {
    max-width: 100% !important;
}

._496769951eb140fe-search {
    margin: 0 2px !important;
}

.b8880176888cc928-base {
    top: 0 !important;
    transform: translateY(-100%) !important;
}

._36d072eab2b2e737-messagesWrapper {
    margin-bottom: 25px !important;
}

.hoverablePayment_e9cb00:hover {
    background-color: var(--custom-secondary-bg) !important;
}

._88a69141dd70013a-radioIndicator /* change radio indicator bg */ {
    background-color: var(--custom-secondary-bg) !important;
}

/* Unread messages bar */

._0f481cbbd7530492-newMessagesBar {
    background-color: var(--custom-secondary-accent) !important;
}

._0f481cbbd7530492-newMessagesBar > ._0f481cbbd7530492-barButtonAlt {
    background-color: transparent !important;
}



/* Make radio indicators square */
._88a69141dd70013a-refreshIconFill,
._88a69141dd70013a-refreshIconStroke {
    r: 0;
}
  
.aa8da23faa27393c-item {
    padding: 10px;
}


/* Steam logo instead of discord (top left) */
@container style(--steam-logo: true) {
    ._1f388bcaa446c0c8-tutorialContainer .cc5dd25190031396-wrapper > svg {
        opacity: 0 !important;
    }

    ._1f388bcaa446c0c8-tutorialContainer .cc5dd25190031396-wrapper::after {
        content: var(--custom-logo) !important;
        image-rendering: pixelated;
        image-rendering: crisp-edges;
    }
}



/* Scrollbar */

::-webkit-scrollbar {
    width: 7px !important;
    height: 7px !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
}

.visual-refresh .ef3116c2da186559-scroller::-webkit-scrollbar, .affa7e120767dd82-scroller::-webkit-scrollbar {
    display: none !important;
}

/* Adds borders to any buttons added in the top bar area */
div.c38106a3f0c3ca76-trailing div[role=button] { 

    border: 1px solid !important;
    border-color: var(--light-border) var(--dark-border) var(--dark-border) var(--light-border) !important;
}
/*Adds border and padding to the inbox button*/
div.c38106a3f0c3ca76-trailing .c99c29809d200a61-clickable { 
    padding: 4px;
    border: 1px solid !important;
    border-color: var(--light-border) var(--dark-border) var(--dark-border) var(--light-border) !important;
}
